<p>
    <a href="index.html" class="site-name">
        <img src="data/SDVVGR.svg" alt="" width="50" height="64">
        <span>SilasDV's Video Game Ranking</span>
    </a>
</p>

<button id="menu-toggle" class="menu-toggle" type="button"
        aria-expanded="false" aria-controls="main-navigation" hidden>
    Menu
</button>

<nav id="main-navigation">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="ranking.html">Ranking</a></li>
        <li><a href="statistics.html">Statistics</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
</nav>